@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anyway</h1>
    <p class="lead">Anyway is here to prevent car accidents by ......</p>
    <p><a href="http://www.anyway.co.il" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Disqus</h2>
        <p>Show Disqus conversation</p>
        <p><a class="btn btn-default" href="/disqus/testforanyway?lat=2&lng=4">Disqus example &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>API</h2>
        <p>Anyway API - show all accidents</p>
        <p><a class="btn btn-default disabled" href="#">All accidents &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>API</h2>
        <p>Anyway API - show by parameters</p>
        <p><a class="btn btn-default" href="/api/?ne_lat=32.40978390688122&ne_lng=35.299824657577574&sw_lat=31.760538202995313&sw_lng=34.651631298202574&start_date=1356991200&end_date=1357077600&zoom_level=15&show_fatal=1&show_severe=1&show_light=1&show_inaccurate=1">Example &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>API</h2>
        <p>Anyway API - cluster by filter</p>
        <p><a class="btn btn-default" href="/api/cluster?ne_lat=34.369357&ne_lng=37.262428&sw_lat=28.997167&sw_lng=32.944801&start_date=1356991200&end_date=1388527200&zoom_level=15&show_fatal=1&show_severe=1&show_light=1&show_inaccurate=1">Cluster example &raquo;</a></p>
    </div>
</div>