@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Adding new comment</title>
    <meta charset="UTF-8">
</head>
<body>
    <br />
    Please wait.... <br />
    <br />
    If nothing happend in 5 seconds, please hit the refresh button
</body>
</html>


